<!DOCTYPE html>
<html>
<head>
  <title>Pragprog Books Online Store</title>
  <%= stylesheet_link_tag    "application", media: "all",
    "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
  <div id="banner">
    <%= image_tag("logo.png") %>
    <%= @page_title || "Pragmatic Bookshelf" %>
  </div>
  <div id="columns">
    <div id="side">
      <ul>
        <li><%= link_to "Home", store_index_path %></li>
        <li><%= link_to "About Us", store_about_us_path %></li>
        <li><%= link_to "Catalog", store_catalog_path %></li>
        <li><%= link_to "Contact Us", store_contact_us_path %></li>
        <li><%= link_to "Privacy Policy", store_privacy_policy_path %></li>
        <li><%= link_to "Terms of Service", store_terms_of_service_path %></li>
      </ul>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>

